#footy {
    @media only screen and (max-width: 960px) {
        display: none !important;
    }
    @media only screen and (max-width: 640px) {
        display: none !important;
    }
}

footer {
    p {
        span {
            color: #00A0C6;
        }
    }
}