.personal-brand {
    h4,
    p {
        text-align: center;
    }

    p {
        &:nth-of-type(2) {
            font-size: small;
        }
    }
}

.alert {
    p {
        font-style: italic;
    }
}


