.nav-header {
    background-color: #e6e6e6;
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 300px;
    overflow: hidden;
    /* Float Clear */
    transition: .4s;
    /* CSS3 Transition */
    margin-top: -18.5em;
    /* Height in Chrome */

    a {
        text-decoration: none;
        text-decoration: none;
        color: #00a0c6;
    }

    li {
        list-style: none;
    }

    nav {
        text-align: center;
        background: #1E1E1E;
    }

    nav ul li {
        border-bottom: 1px dashed #333;
        /* PX for Opera */
    }

    nav ul li:last-child {
        border: none;
    }

    nav ul a {
        display: block;
        padding: .75em 0;
        transition: .1s;
        /* Hover-off Transition */
    }

    nav ul a:active {
        background: black;
        transition: .1s;
        /* Hover-on Transition */
    }

    .finger-print {
        width: 40px;
        border-radius: 40px;
        height: 40px;
        background-image: url('../../images/fingerprint.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 91%;
        left: 92%;
        transform: translate(-50%, -50%);
    }
}

/* Class we toggle */
.show {
    margin-top: -3em !important;
}