* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.maincontainer {
    width: 760px;
    height: 360px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.business-card-container {
    height: 100%;
    position: relative;
    perspective: 1800px;
}

.business-card {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
}

div.business-card div.front,
div.back {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 450px;
    color: white;
    text-align: center;
    font-weight: bold;
    position: absolute;
    backface-visibility: hidden;
}

div.front {
    background: #e6e6e6;

    span {
        display: inline-block;
        height: 80px;
        width: 80px;
        border-radius: 80px;
        background-color: white;
    }
}

.back {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-shadow: 0 15px 15px -8px #444;

    section {
        height: 100%;
        width: 60%;
        float: left;

        div {
            height: 33.33%;

            &:nth-of-type(2) {
                ul {
                    height: 100%;
                    line-height: 170px;
                    list-style: none;

                    li {
                        display: inline-block;
                        margin-right: 12%;
                        height: 50px;
                        width: 50px;
                        border-radius: 50px;

                        &:first-of-type {
                            background-color: black;
                        }

                        &:nth-of-type(2) {
                            background-color: grey;
                        }

                        &:last-of-type {
                            margin-right: 0;
                            background-color: silver;
                        }
                    }
                }
            }
        }

    }

    aside {
        height: 100%;
        width: 40%;
        float: right;
        padding: 9.5% 0 1% 0;

        p {
            line-height: 1.3em;
            text-align: left;
            font-weight: normal;
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            color: rgba(0, 0, 0, .7);
            margin-bottom: 3em;

            &:first-of-type,
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(6),
            &:nth-of-type(7),
            &:last-of-type {
                margin-bottom: 0;
            }

            &:first-of-type {
                font-weight: bold;
            }

            &:nth-of-type(2) {
                font-style: italic;
            }

            a {
                color: rgba(0, 0, 0, .7);

                &:hover {
                    color: #00A0C6;
                }
            }
        }
    }
}

.flipped {
    transform: rotateY(180deg);
}