@mixin transition($in) {
    transition: $in;
    -webkit-transition: $in;
    -moz-transition: $in;
    -o-transition: $in;
    -ms-transition: $in;
}

@mixin transform($in) {
    transform: $in;
    -webkit-transform: $in;
    -moz-transform: $in;
    -o-transform: $in;
    -ms-transform: $in;
}

@mixin animation($in) {
    animation: $in;
    -webkit-animation: $in;
    -moz-animation: $in;
    -o-animation: $in;
    -ms-animation: $in;
}