.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.purple {
    color: purple;
}

.silver {
    color: silver;
}
.bronze {
    color: brown;
}